<aside th:fragment="leftNav" class="position-fixed main-sidebar sidebar-dark-primary elevation-4" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: 0.8;"/>
        <span class="brand-text font-weight-light">情侶契約書</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"/>
            </div>
            <div class="info">
                <a href="#" class="d-block" th:text="${user.nickname}"></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bed"></i>
                        <p>
                            回憶小窩
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>公佈欄</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            帳本管理區
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/spendingManage/spending" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>全部帳本</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/spendingManage/spendingShare" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>共享帳本設定</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>
                            帳戶設定
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>個人資料</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/user/resetPassword" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>密碼修改</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            情侶契約書
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/contract" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>契約內容</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>關於</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="margin-left:5px">
                    <a href="/logout" class="nav-link">
                        <i class="nav-icon fas fa-door-open"></i>
                        <p>
                            登出
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
